
/* Baserules */
.banner{
  background: url('/bilder/banners/bookingbanner.png') no-repeat center 70%/cover;
}
/* Grid */
.booking-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows:  1fr 0.5fr;
  margin: 2em;
  gap: 2em;
}

.track-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 0.5fr;
  text-align: center;
  padding: 2em;
  background-color: var(--Boxwhite);
  grid-column: span 3;
}

.track-section h3 {
  grid-column: span 3;
  text-align: center;
}

.link-courses {
  grid-column: 2/3;
  justify-self: center;
  text-align: center;
}

.calendar-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--Boxwhite);
}

.booking-aside {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  background-color: var(--Boxwhite);
}

.aside-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.aside-img{
  width: 80%;
  border-radius: 8px;
  margin-bottom: 1em;
}

.booking-aside h3{
  text-align: center;
  padding: 2rem 0 3rem 0;
}

.booking-aside a{
  color: black;
  font-weight: bold;
  background-color: var(--Bgreen);
  text-decoration: none;
}

.aside-left{
  grid-row: span 1;
}

/* FAQ */

.list{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.title {
 padding: 20px 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.icon{
  width: 20px;
  position: relative;
}

.icon::before, .icon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #fff;
  top: -1.5px;
}

.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.text{
  display: none;
  height: 0;
}
.item {
  margin-top: 5px;
}

.item:target .text {
  display: block;
  height: auto;
  padding: 10px 10px;
}

.item:target .icon::after {
  transform: rotateY(90deg);
}

/* Booking Form */

.booking-fieldset{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  width: 90%;
  
}

.booking-form{
  display: grid;
  grid-template-columns: 3fr 0.2fr;
  grid-template-rows: auto auto auto auto;
  gap: 1em;
  width: 90%;
}

.booking-form label{
  font-weight: bold;
  grid-column: span 2;
}

.booking-form input, .booking-form select {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  width: 100%;
  grid-column: span 2;
}

select option:hover {
  box-shadow: 0 0 10px 100px var(--Bgreen) inset !important;
  color:white;
}
select option:checked{
  box-shadow: 0 0 10px 100px var(--Bgreen) inset !important;
  }

#time {
  width: 95%;
  grid-column: span 1;
}

.validity {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

#time:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

#time:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}

/* Screen Sizes */

/* larger screens from 1200px down */
@media only screen and (max-width: 1200px) {
  .booking-wrapper{
    margin: 0;
    padding: 0;
    gap: 0;

  }
  .calendar-section, .booking-aside{
    margin: 0;
    padding: 1em;
    width: 100%;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid black;
  }

  
}

/* Medium and small screens 992px and down */
@media only screen and (max-width: 992px) {
  .booking-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* Small screens 600px and down */
@media only screen and (max-width: 600px) {
  .track-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}