.banner {
  background: url('/bilder/banners/contact.png') no-repeat center 30%/cover;
}

.contact-wrapper {
  display: flex;
  gap: 1.5rem;
  padding: 1em;
  margin: 1em;
}

.contact-aside, .contact-aside ul{
  background: var(--Boxwhite);
  list-style-type: none;
  text-align: center;
  padding: 0.5em;
  flex: 25%;
  border: solid 1px;
}

.contact-container {
  background: var(--Boxwhite);
  padding: 1em;
  flex: 75%;
  border: solid 1px;
}

.map{
  width: 100%;
}

.contact-aside h2  { 
  text-align: center; 
  padding: 1rem 0 1rem 0; 
}

.contact-aside a{
  color: black;
  font-weight: bold;
  background-color: var(--Bgreen);
  text-decoration: none;
}

.feedback-form label {
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1em;
  border-radius: 8px;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #000000;
}

.contact-info p,
.contact-info li {
  font-size: 17px;
  line-height: 1.5;
  list-style: none;
}

.contact-info div {
  flex: 1 1 200px;
  margin: 0.5em;
}

.list{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.title {
 padding: 20px 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.icon{
  width: 20px;
  position: relative;

}

.icon::before, .icon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #fff;
  top: -1.5px;
}

.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.text{
  opacity: 0;
  height: 0;
}

.item:target .text {
  opacity: 1;
  height: auto;
  padding: 10px 10px;
}

.item:target .icon::after {
  transform: rotateY(90deg);
}
.feedback-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 3rem;
  background-color: var(--Boxwhite);
}
.feedback-container h3{
  text-align: center;
}

.feedback{
  display: flex;
  padding: 1rem;
}
.feedback > div {
  display: flex;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  background-color: rgb(236, 233, 233);
  flex: 25%;

}
.feedback img{
  width: 50px;
  border-radius: 50%;
  border: 3px solid green;
}
.feedback p{
  font-size: large;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .contact-wrapper {
  gap: 0;
  margin: 0;
  padding: 0;
  }

  .member-icon{
    width: 150px;
    float: none;
  }
  .feedback > div{
    flex-wrap: wrap;
    display: block;
  }
    .feedback-container{
    margin: 0;
    padding: 0;
    gap: 0;
  }
}

@media only screen and (max-width: 992px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-aside, .contact-container {
    flex: 100%;
    border-top: 1px solid black;
  }

  .contact-icon{
    width: 150px;
    float: none;
  }

  .feedback{
    display: block;
  }
  .feedback > div{
    border-right: none;
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

}

@media only screen and (max-width: 600px) {
  .contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .feedback > div{
    margin: 5px;
    padding: 10px;
  }
}