.banner {
  background: url('/bilder/banners/login-banner.jpg') no-repeat center center/cover;

}
.createaccount-container{
    display: flex;
    margin: 2rem;
    gap: 2rem;

}
.createaccount-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-family: "Merriweather" ;
    font-size: large;
    border: 1px solid black;
    background-color: var(--Boxwhite);
    border-radius: 1rem;
    flex: 70%;
}
.createaccount-wrapper > input{
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
    box-shadow: inset 10px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;   
}
input{
    font-size: large;
    padding: 10px;
}
input:focus::placeholder{
    color: transparent;         /* when u click on on the box the text/placeholder disappear*/
}
.membership-container{
    margin: auto;    
}

input[type="radio"] {
    accent-color: green;
    cursor: pointer;
}

.create-button{
    padding-top: 3rem;
    margin: auto;
}

.members-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 30%;
    background-color: var(--Boxwhite);
    border: 1px solid black;
    border-radius: 1rem;
}

.member-icon{
    width: 100px;
}
.member-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 1em;
}
@media screen and (max-width: 1200px) {
  .createaccount-container {
    margin: 0;
    gap: 0;
  }
  .createaccount-wrapper, .members-flex {
    border-radius: 0;
  }
}

@media screen and (max-width: 992px) {
  .createaccount-container{
    flex-direction: column-reverse;
  }
}




  
