.banner{
  background: url('/bilder/banners/flygbild.png') no-repeat center 80%/cover;
}

h3 {
  margin: 15px 0 10px 0;
}

.event-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.75fr 1fr;
  gap: 2rem;
  margin: 2rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  background: var(--Boxwhite);
  grid-column: span 3;
  text-align: center;
}

.welcome h2{
  margin-bottom: 10px;
}

.event-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: var(--Boxwhite);
  padding: 2rem;
  border: 1px solid black;
}

.event-box img {
  max-width: 100%;
  width: 400px;
}

.event-img {
  border-radius: 8px;
}

/* .junior-event p, .event-for-all p, .family-event p, .junior-event h3, .event-for-all h3, .family-event h3 {
  margin-top: 15px;
} */

.event-calendar td, .event-calendar th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

.event-calendar tr:nth-child(odd), .event-calendar tr:nth-child(odd) {
  background-color: #58833c;
}

.event-calendar tr:nth-child(even), .event-calendar tr:nth-child(even) {
  background-color: #8dad72;
}

/* dropdown event lists */

.hidden-btn, .event-btn, #event-toggle1, #event-toggle2, #event-toggle3 {
  display: none;
}

.dropdown-event{
  display: none;
}

/* larger screens from 1200px down */

@media screen and (max-width: 1200px) {
  .event-wrapper {
    margin: 0;
    gap: 0;
  }
    
}

/* Medium and small screens 992px and down */

@media screen and (max-width: 992px) {
  .event-wrapper{
    display: flex;
    flex-direction: column;
  }

  .welcome{
    padding: 2rem 5px 2rem 5px;
  }

  .event-box{
    padding: 2rem;
  }

   .event-btn{
    display: block;
  }

  .junior-calendar, .calendar, .family-calendar{
    display: none;
  }

  .btn {
    display: inline-block;
  }

  #event-toggle1:checked + .event-btn + .dropdown-event, #event-toggle2:checked + .event-btn + .dropdown-event, #event-toggle3:checked + .event-btn + .dropdown-event {
    display: flex;
  }
  
  input[name='event-toggle1'] ~ .dropdown-event, input[name='event-toggle2'] ~ .dropdown-event, input[name='event-toggle3'] ~ .dropdown-event {
    height: 0;
    overflow:hidden;
    transition: all 1s ease;
    border: none;
  }

  input[name='event-toggle1']:checked ~ .dropdown-event, input[name='event-toggle2']:checked ~ .dropdown-event, input[name='event-toggle3']:checked ~ .dropdown-event {
    height: 30em;
    overflow: hidden;
    border: 1px solid black;
  }

  .dropdown-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    margin: 2rem;
    padding: 0 ;
    width: 100%;
    height: 100%;
  }
  
}
@media screen and (max-width: 480px) {

  input[name='event-toggle2']:checked ~ .dropdown-event {
    height: 40em;

  }
  .event-box{
    padding: 2rem 0.5rem;
  }
}