/* Css general for coloring and fonts for all sites */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root {
  --Bgreen: rgb(137, 172, 70);
  --Boxwhite: #f1f1e7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--Bgreen);
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
}

main, main > div, main > article, main > section, main > aside {
  border-radius: 8px;
}

/* #footer */
.footer-container{
  background-color: var(--Boxwhite);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
  /* background: url('footer.jpg')no-repeat center center/cover ; */
}

.skapare a{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.skapare a:hover{
  transform: scale(1.05);
}

.skapare li, .snabba-links li, .kontakta-oss li{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 5px;
}

.skapare, .snabba-links, .kontakta-oss{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.snabba-links a{
  color: black;
}

.snabba-links a:hover{
  transform: scale(1.05);
}

.kontakta-oss h2, p{
  padding-bottom: 5px;
}

.kontakta-img{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.imgs-footer{
  width: 25px;
}

@media only screen and (max-width: 1200px) {
  .footer-container{
    background-color: var(--Bgreen);
  }    
}

@media only screen and (max-width: 992px) {
  main, main > div, main > article, main > section, main > aside {
  border-radius: 0;
  }
}

@media only screen and (min-width: 600px) {
  #copywrite{
    text-align: end;
    grid-column: span 3;
    margin-top: 1em;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    text-align: center;
    justify-items: center;
    row-gap: 2em;
  }

  .kontakta-oss{
    grid-column: span 2;
  }

  #copywrite{
    grid-column: span 2;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skapare, .snabba-links, .kontakta-oss{
    text-align: center;
  }
}


