/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 350px; /* adjust */
  background: url('/bilder/golf-ball-flag.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(8, 8, 8);
  text-align: center;
  padding-top: 2em;
}

.start-wrapper {
  display: grid;
  grid-template-columns: 0.75fr 3fr;
  grid-template-rows: 0.5fr 1fr;
}

.main-article {
  display: flex;
  border: 1px solid black;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Boxwhite);
  text-align: center;
  /* margin: 3em 3em 0 3em;
  padding: 3em; */
}

.welcome-img {
  max-width: 100%;
  height: auto;
  margin-top: 2em;
}

.news {
  border: 1px solid black;
  padding: 1.5em;
  /* font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif; */
  background-color: var(--Boxwhite);
}

.side-news  {
  margin-top: 1em;
}

.news-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2em;
  background-color: var(--Boxwhite);
  /* justify-content: center; */
  align-items: center;
 /* font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif; */
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  gap: 2em;
  padding: 3em;
}

.news-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.news-grid img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.news-grid img:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 1200px) {
  .start-wrapper {
    gap: 1.5em;
  }
 .main-article{
    margin: 3em 3em 0 3em;
    padding: 3em;
  }

 .news {
    margin: 1.5em 1.5em 3em 3em ;
  }

  .news-container {
    margin: 1.5em 3em 3em 1.5em ;
  }

  .news-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {

  .start-wrapper {
    display: flex;
    flex-direction: column;
}
  .news-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

}

@media only screen and (max-width: 600px) {
 .news-grid {
  padding: 0;
 }
  
}