.banner {
  background: url('/bilder/banners/login-banner.jpg') no-repeat center/cover;
}
.banner-text{
    background-color: white; /* gjorde detta för att texten var inte mycket läsbart på grund av banner. kan ändras sedan om det behövs*/
}
.login-container{
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.login-info{
    border: 1px solid black;
    padding: 1rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
    background-color: var(--Boxwhite);
}
.login-info p{
  padding: 1rem;
}
.login-form{
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    font-size: larger;
    flex: 70%;
    background-color: var(--Boxwhite);
}

.login input:nth-of-type(1),
.login input:nth-of-type(2) {
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
    box-shadow: inset 10px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;   
    padding: 0 0 0 20px;
    font-size:large;
}
/* .login input:nth-of-type(3) {
    width: 7em;
    height: 2em;
    box-shadow: inset 10px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: green;
    cursor: pointer;
    font-size: large;
} */

.login > p{
    cursor: pointer;
    text-decoration: underline;
    padding-top: 1rem;
}
#remember{
  margin: 5px;
  padding: 5px;
}
.skapa-konto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
/* .skapa-konto{
    background-color: rgb(148, 201, 141);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
.skapa-konto:hover{
    transform: scale(1.05);
} */
@media screen and (max-width: 1200px) {
  .login-container{
    margin: 0;
    padding: 0;
    gap: 0;
  }
}
@media screen and (max-width: 992px) {
  .login-container{
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .login-form, .login-info {
    padding: 5px;
  }
}