
/* Baserules */
.banner {
  background: url('/bilder/banners/banner-member.png') no-repeat  center 20%/cover;
}

.members-wrapper {
  display: flex;
  gap: 3rem;
  padding: 2em;
  margin: 1.5em;
}

.members-aside, .members-aside ul{
  background: var(--Boxwhite);
  list-style-type: none;
  text-align: center;
  padding: 0.5em;
  flex: 25%;
}

.members-aside li{
  padding: 0.5em;
}

.members-container {
  background: var(--Boxwhite);
  padding: 1em;
  flex: 75%;
}

/* Grid */
.members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}
.member-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-icon{
  width: 150px;
  /* float: left; */
}

.member-type, .sponsorship{
  border: 1px solid black;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.member-price {
  margin-top: auto;
}

.sponsorship{
  grid-column: span 2;
}

.members-aside h3{
  text-align: center;
  padding: 2rem 0 3rem 0;
}

.members-aside a{
  color: black;
  font-weight: bold;
  background-color: var(--Bgreen);
  text-decoration: none;
  margin: 10px;
}

.createaccount-box{
  padding-bottom: 10px;
}

.createaccount-box p {
  margin-bottom: 10px;
}

.hidden-btn {
  display: none;
}

/* FAQ */
.list{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.title {
 padding: 20px 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.icon{
  width: 20px;
  position: relative;

}

.icon::before, .icon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #fff;
  top: -1.5px;
}

.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.text{
  display: none;
  height: 0;
}
.item {
  margin-top: 5px;
}

.item:target .text {
  display: block;
  height: auto;
  padding: 10px 10px;
}

 .item:target .btn{
  display: inline-block;
 }

.item:target .icon::after {
  transform: rotateY(90deg);
}

/* larger screens from 1200px down */
@media only screen and (max-width: 1200px) {
  .members-wrapper {
    gap: 0;    
    margin: 0;
    padding: 0;

  }

  .member-icon{
    width: 150px;
    float: none;
  }
}

/* Medium and small screens 992px and down */

@media only screen and (max-width: 992px) {
  .members-wrapper {
    flex-direction: column;
  }
  .members-aside, .members-container {
    flex: 100%;
    border-top: 1px solid black;
  }
  .member-icon{
    width: 150px;
    float: none;
  }
}

/* Small screens 600px and down */

@media only screen and (max-width: 600px) {
  .members-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .sponsorship{
    grid-column: span 1;
  }
}




