.banner {
  background: url('/bilder/banners/restaurant-banner.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
}

.banner .button{
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;    
    z-index: 2;
}

.banner a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 10rem;
}

.banner a:hover{
    transform: scale(1.1);
}

.grid-container{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "up up"
  "middle-left middle-right"
  "bottom bottom";
  gap: 2rem;
  padding: 2rem;

}
.up{
  grid-area: up;
  text-align: center;
  background-color: var(--Boxwhite);
  padding: 3rem ; 
}

.up h2 {
  margin-bottom: 10px;
}

.up p {
  padding: 0 20%;
  margin-bottom: 10px;
}

.welcome-img {
  max-width: 100%;
  height: auto;
  margin-top: 2em;
}
.selections, .bottom-content{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.middle-left{
    grid-area: middle-left;
    background: url('/bilder/restaurant/restaurant-breakfast.jpg') no-repeat center center/cover;

}
.middle-right{
    grid-area: middle-right;
    background: url('/bilder/restaurant/restaurant-lunch.jpg') no-repeat center center/cover;


}

.middle-right p{
    text-align: center;
    margin-top: 3rem;
    font-style: italic;
}

.middle-left ul > li,
.middle-right ul > li{
    list-style-type: none;
    padding: 5px;
}

.bottom-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: bottom;
    background-color: var(--Boxwhite);
    text-align: center;
}

.bottom-content h2{
  margin-bottom: 0.5rem;
}

.breakfast-price , .open-times, .lunch-price{
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 2rem;
}

@media only screen and (min-width: 1200px) {

  .grid-container {
    gap: 1.5em;
  }

 .up{
    padding: 3em;
  }

  .welcome-img {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 1200px){
  .grid-container{
    padding: 0;
    margin: 0;
    gap: 0;
  }
  
}

@media (max-width:910px){
    .grid-container{
        display: flex;
        flex-direction: column
        ;
    }
    .open-times{
      border-right: none;
      border-left: none;
    } 
}

@media screen and (max-width: 610px) {

  .grid-container section{
    border-radius: 0;
  }

  .bottom-content{
    flex-direction: column;
    justify-content: center;
  }

  .breakfast-price, .lunch-price{
    border-right: none;
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    margin: 10px;
  }

.up p {
  padding: 0;
  margin-bottom: 10px;
}
}

@media (max-width:345px){

  .grid-container section{
    padding: 5px;
  }
  
   .banner a{
    width: 7.5rem;
   }
}