
.banner {
  background: url('/bilder/banners/shop-banner.jpg') no-repeat center center/cover;

}
.shop-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 5rem;
    border: 1px solid black;
    background-color: var(--Boxwhite);
    position: relative;
}
.shop-intro {
  border: 0;
  margin-top: 25px;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    gap: 2rem;
    margin-top: 3rem;
    text-align: center;
    /* Här skapar jag en scroll så vi kan lägga mer produkter utan att den ta så mycket plats i skärmen*/
    max-height: 900px;   /* begränsa höjden på galleriet */
    overflow-y: auto;    /* aktivera vertikal scroll */
    scroll-behavior: smooth;
    padding: 10px;

}
.sorts{
  border: 0;
    position: absolute;
    top: 7rem;
    right: 2rem;
}
img{
    width: 300px;
}
.shop-content img:hover{
    transform: scale(1.15);
}
.shop-content .product{
    cursor: pointer;
    background-color: var(--Boxwhite);



}
.product{
    padding-bottom:1rem;
    
}
.product-descreption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-descreption h2{
    display: flex;
    align-items: center;
    gap: 5px;
}
.rating{
    display: flex;
    align-items: center;
}

.content-horisontell{
    border: 1px solid black;
    padding-top: 20px;    
    margin: 1rem 5rem;
    background-color: var(--Boxwhite);
    text-align: center;
}
.shop-content-horisontell{
    display: grid;
    grid-template-columns:1fr ;
    grid-auto-flow: column;
    overflow-x: auto;             /* aktivera horisontell scroll */
    scroll-behavior: smooth;
    padding:2rem 0;
    max-width: 1500px;             /* bredden som rymmer ca 4 produkter */
    margin: auto;  
    gap: 5rem;
}

.shop-content-horisontell img:hover{
    transform: scale(1.15);
}

.shop-content-horisontell .product{
    background-color: var(--Boxwhite);
}
@media screen and (max-width: 1200px){
  .shop-container, .content-horisontell {
    margin: 0;
  }  
}

@media screen and (max-width: 992px) {


  .shop-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 1rem;
    padding: 0;
  } 

  .sorts {
    position:static ;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .shop-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    gap: 1rem;
    padding: 0;
  }


}