.banner {
  background: url('/bilder/restaurant/salmon-with-ingredients-table.jpg') no-repeat center center/cover;
}

.banner .button{
    display: flex;
    padding: 10px;
    gap: 10px;
    list-style-type: none;    
}

.banner a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background-color: rgb(219, 219, 219);
    width: 10rem;
}
.banner a:hover{
    transform: scale(1.1);
}
.table-wrapper{
    display: flex;
    justify-content: start;
    background: url('/bilder/restaurant/tablebooking-bkg1.jpg') no-repeat center center/cover;
}
.table-information{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10rem 0 10rem 0.5rem;
}
.booking-fieldset h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.booking-fieldset{
    margin: 4rem 2rem;
}
.booking-form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
#date, #name, #email{
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}
#people{
    width: auto;
    height: 1.5rem;
    margin-bottom: 1.5rem;
}
.btn{
    margin-top: 1rem;
    width: auto;
    height: 2rem;
    background-color: green;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 757px){
    .booking-form{
        padding: 1rem;
}
    #date, #name, #email{
        margin-right: 0;
}
}

@media only screen and (max-width: 660px){

    .table-wrapper{
        flex-direction: column;
    }
    .table-information{
        width: auto;
        margin: 0;
    }

    .booking-form{
        padding: 0;
        margin: 0;
        flex-direction: column;
}    
    input #name{
        width: 300px;
    }
    .booking-fieldset{
        margin: 0;
        width: 100%;
    }
}

@media (max-width:345px){
    .table-wrapper{
        padding: 0;
        margin: 0;
    }
   
   .banner a{
    width: 7.5rem;
   }
}